# Core Contentful (public for client-side usage)
NEXT_PUBLIC_CONTENTFUL_SPACE_ID=
NEXT_PUBLIC_CONTENTFUL_ENV_ID=
NEXT_PUBLIC_CONTENTFUL_PREVIEW_KEY=

# Core Contentful (private for server-side usage)
CONTENTFUL_DELIVERY_KEY=
CONTENTFUL_MANAGEMENT_TOKEN=
CONTENTFUL_PREVIEW_SECRET=
CONTENTFUL_REVALIDATION_SECRET=

# Contentful Optimization
NEXT_PUBLIC_OPTIMIZATION_CLIENT_ID=
NEXT_PUBLIC_OPTIMIZATION_ENVIRONMENT=
